<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Parent Component</h1>
  <!-- <app-child [amount] = "price"></app-child> -->
   <ul>
    <li *ngFor="let item of items">{{item}}</li>
    <app-child (userEnterVal)="valueFromChild($event)"></app-child>
   </ul>

   <br>
   <br>
   <app-child3 (valuefromchild) = "valuefromchild3($event)"></app-child3>
   <app-child2 [recevingval] = "valuefromchild"></app-child2>
</body>
</html>